.AI {
    align-items: center;
    vertical-align: middle;
    margin: 0;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    overflow: hidden;
}

.route-id {
    font-size: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border-radius: 2rem;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 6rem;
    min-width: 7rem;
    max-width: fit-content;
    b {
        padding: 1.5rem;
        margin: 0
    }
}

.route-name {
    display: flex;
    overflow: hidden;
    align-items: center;
    font-size: 1.75rem;
    word-wrap: break-word;
}

.route-status {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 2rem;
}